{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product list</h1>

	<form method="get">
	<input type="text" maxlength="255" name="tags" id="product_tags">
	<input type="submit" value="Filter Products by tag">
	</form>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Image</th>
                <th>Description</th>
				<th>Tag</th>
				<th>Created</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td>{{ product.name }}</td>
                <td><img src="{{ asset('uploads/documents/' ~ product.path) | imagine_filter('my_show')}}" alt="{{ product.path }}" /></td>
                <td>{{ product.description }}</td>
				<td>{{ product.tags }}</td>
				<td>{{ product.created|date("m/d/Y") }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('product_show', { 'id': product.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('product_edit', { 'id': product.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('product_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
